global:
  edpName: "edp"
  platform: "openshift"
  dnsWildCard: ""

name: jenkins-operator
image:
  name: epamedp/jenkins-operator
  version: v2.5.0

jenkins:
  deploy: true
  initImage: "busybox"
  image: "epamedp/edp-jenkins"
  version: "2.5.0"
  storage:
    class: gp2
    size: 10Gi
  libraryPipelinesRepo: "https://github.com/epmd-edp/edp-library-pipelines.git"
  libraryPipelinesVersion: "release-2.6"
  libraryStagesRepo: "https://github.com/epmd-edp/edp-library-stages.git"
  libraryStagesVersion: "release-2.6"
  imagePullSecrets:
  basePath: ""